@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');

body {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color:rgba(255, 255, 255, 0.5) ;
    background-image: url("./background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:black;
    font-family: 'Supermercado One', cursive;
    font-weight: 700;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.quote-container{
    width:auto;
    max-width: 800px;
    background-color: rgb(255, 255, 255, 0.4);
    border-radius: 10px;
    box-shadow: 0 10px 10px 10px rgb(0, 0, 0, 0.2);
    padding: 10px 10px;
}

.fa-quote-left{
    font-size: 4rem;
}

.quote-text{
    font-size: 2.75rem;
}

.quote-longtext{
    font-size: 2rem;
}


.quote-author{
    font-size: 1.5rem;
    padding-top: 8px;
    font-style: italic;
    font-weight: 500;
}

.button-container{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

button{
    cursor: pointer;
    font-size: 1.2rem;
    height: 2.5rem;
    padding: 0.5rem 1.5rem;
    color: white;
    border:none;
    background-color: rgb(39, 38, 38);
    border-radius: 10px;
    box-shadow: 0px 5px 2px 2px rgba(0, 0, 0, 0.5);
}

button:hover{
    filter: brightness(160%);
}

button:active {
    transform: translate(0px, 5px);
    box-shadow: 0px 5px 2px 2px rgb(255, 255, 255, 0.5);
}

/* Moblie or Tablet */
@media screen and (max-width: 1000px) {
    .quote-container{
        margin: auto 10px;
    }

    .quote-text{
        font-size: 2rem;
    }

    .quote-author{
        font-size: 1.5rem;
    }
}

/* Loader */
.loader {
    border: 16px solid #ffffff; 
    border-top: 16px solid rgb(46, 43, 43); 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .fb-share-button{
      /* align-items: center; */
      margin-top: 100px;
  }
